 /* სტილი ყველა სიაზე */
 ul, ol {
    font-family: Arial, sans-serif; /* სასიამოვნო შრიფტი */
    margin: 20px; /* ჩამორთმევა სიას */
    padding: 0; /*Padding-ს ვხსნით, რომ ყველაფერი სწორად ჩატეული იყოს */
  }

  /* დაურთული სიის სტილი */
  ul {
    list-style-type: square; /* დაურთული სიისთვის ბურთული (square) */
    padding-left: 20px; /* შიდა მარჯვენა სივრცე */
  }

  /* დალაგებული სიის სტილი */
  ol {
    list-style-type: decimal; /* დალაგებული სიისთვის რიცხვები */
    padding-left: 20px; /* შიდა მარჯვენა სივრცე */
  }

  /* სიების ელემენტების სტილი */
  li {
    margin-bottom: 10px; /* დამატებითი სივრცე ელემენტებს შორის */
  }