body {
    display: flex;
    background-color: bisque;
    margin-left: 35%;
}

h1 {
    font-size: x-small;
    color: gold;
}

.nuki {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: gold;
}

.iva {
    display: flex;
}

p {
    color: gray;
}

main {
     background-color: rgb(255, 255, 255);
}

img {
    width: 90px;
    height: 90px;
    border-radius: 60px;
}