body {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#loadingBarContainer {
    width: 80%;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
}
#loadingBar {
    width: 0px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    animation: loading 4s infinite;
}
@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}
#appleLogo {
    width: 180px;
    margin-bottom: 20px;
}