.parent {
    width: 300px; 
    height: 300px; 
    background-color: lightblue;
    
    padding-top: 20px;
    padding-right: 30px; 
    padding-bottom: 40px; 
    padding-left: 50px; 
    
    border-top: 5px solid red;
    border-right: 10px solid green; 
    border-bottom: 15px solid purple; 
    border-left: 20px solid orange; 
    
 
    margin-top: 10px; 
    margin-right: 15px; 
    margin-bottom: 25px; 
    margin-left: 35px; 
    
    display: inline-block; 
  }

  .child {
    width: 100px;
    height: 100px; 
    background-color: coral;
  }


  /* რა არის Box Model?
CSS ყუთის მოდელი არის ფუნდამენტური კონცეფცია, რომელიც კარნახობს, თუ როგორ გამოჩნდება ვებგვერდზე არსებული ელემენტები და როგორ გამოითვლება მათი ზომები. ყუთის მოდელი მოიცავს რამდენიმე ფენას: შინაარსი, padding, საზღვარი და ზღვარი. ეს ფენები ერთად მუშაობენ, რათა განსაზღვრონ ელემენტის მთლიანი ზომა. */


/* რა არის padding CSS Box მოდელში?
padding არის სივრცე ელემენტის შინაარსისა და მის საზღვრებს შორის. იგი გამოიყენება ელემენტის შიგნით შიდა ინტერვალის შესაქმნელად, რაც აქცევს შიგთავსს ელემენტის საზღვრიდან უფრო მოშორებით. padding არის ელემენტის შიგნით, მაგრამ შინაარსის არეალის გარეთ. */


/* რა არის საზღვარი CSS Box მოდელში?
საზღვარი არის ბალიშის გარშემო (ასეთის არსებობის შემთხვევაში) და ელემენტის შინაარსის არე. იგი გამოიყენება ელემენტის გარშემო ხილული ხაზის შესაქმნელად, რაც ხელს უწყობს ელემენტის ვიზუალურად განცალკევებას გვერდზე სხვებისგან. ჩარჩო მოთავსებულია ბალიშსა და ზღვარს შორის ყუთის მოდელში. */


/* რა არის ზღვარი CSS Box მოდელში?
ზღვარი არის CSS box მოდელის ელემენტის ირგვლივ ყველაზე შორი არე. ის ქმნის სივრცეს ელემენტსა და მიმდებარე ელემენტებს შორის ან ხედის კიდეებს შორის. ზღვარს არ აქვს ფონის ფერი (ის გამჭვირვალეა) და გამოიყენება მხოლოდ ელემენტებს შორის მანძილის გასაკონტროლებლად. */